<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.careeyes.mapper.AiMapper">

	<insert id="insertDetectEvent" parameterType="DetectEvent" useGeneratedKeys="true" keyProperty="eventId">
	    INSERT INTO DETECT_EVENT (EVENT_DATE, EVENT_TIME, CCTV_ID, IMG_PATH)
	    VALUES (#{eventDate}, #{eventTime}, #{cctvId}, #{imgPath})
	</insert>
	
	<insert id="insertDetectItem" parameterType="DetectItem" useGeneratedKeys="true" keyProperty="itemId">
	    INSERT INTO DETECT_ITEM (EVENT_ID, ITEM_TYPE, ITEM_COUNT)
	    VALUES (#{eventId}, #{itemType}, #{itemCount})
	</insert>

</mapper>