<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">

	<!-- 예시용 -->
	<select id="selectAll" resultType="Member">
		SELECT * FROM MEMBER
	</select>
	
	<!-- 회원가입 -->
	<insert id='signIn' parameterType="Member">
		INSERT INTO MEMBER (
			MEMBER_ID, PASSWORD, NAME, EMAIL, PHONE,
			ROLE, COMPANY, DEPARTMENT
		) VALUES (
			#{memberId}, #{password}, #{name}, #{email}, #{phone},
			#{role}, #{company}, #{department}
		)
	</insert>
	
	<!-- 중복검사 -->
	<select id="duplicate" resultType="int" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		   OR EMAIL = #{email}
		   OR PHONE = #{phone}
	</select>
	
	<!-- 로그인용 회원 조회 -->
	<select id="findById" parameterType="String" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 소셜 로그인(카카오) -->
	<select id="findByKakaoId" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE KAKAO_ID = #{kakaoId}
	</select>
	
	
	
	
</mapper>